################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibPearDataPointTest/bin/Debug
/LibPearDataPointTest/obj/Debug
/LibPearDataPoint/obj/Debug
/LibPearDataPoint/bin/Debug
